// General settings
*
  font-family: 'Arial Unicode MS', 'Arial'
  font-size: 16px
  padding: 0px
  margin: 0px
  color: #ffffff
  line-height: 140%

.info_area
  padding: 10px

.clear
  clear: both

h1
  font-size: 30px

body
  background: url('/images/bg_small.jpg')
  background-color: #7f3f00

p 
  margin: 5px 5px

// Layout settings

#content
  width: 960px
  margin: auto

#header
  margin: 20px

#content
  position: relative

#clock_bar
  float: left
  width: 600px
  #clock_header
    p
      margin-left: 5px
    #address_bar div
      float: left

  #clock_content
    width: 500px
    margin: auto
    #resolved_address, #loading
      width: 100%
      text-align: center

#info_bar
  float: left
  width: 270px
  padding-top: 25px

  #event_list 
    background: url('/images/upcoming.png') no-repeat
    width: 263px
    h3
      color: #e4d8ae
      font-size: 17px
    li
      font-size: 12px
      list-style: none
      margin: 10px 0

  #info_text
    margin-top: 40px
    font-size: 18px

  #clock_system 
    position: absolute
    bottom: 55px

    div
      float: right
    div.select_type
      float: left
      margin-right: 10px
      margin-top: 2px
      select 
        width: 160px
        padding: 2px 5px
        color: #333333
        font-size: 16px
        background-color: white
      


#footer
  text-align: center
  font-family: 'Arial'
  font-size: 20px
  margin: auto
  width: 40%
  div
    float: left
    margin: 10px
    a
      text-decoration: none
      cursor: pointer
    a:hover
      color: #e4d8ae
  .separator
    width: 2px
    height: 10px
    margin-top: 18px
    background-color: white

// Element settings

#address
  border: none
  width: 186px
  height: 34px
  padding: 0 6px
  margin-right: 10px
  background: url('/images/address_input.png') no-repeat
  color: #222
#address.pending
  color: #777

.find_button 
  width: 53px
  height: 35px
  display: inline
  background: url('/images/find_btn_normal.png') no-repeat
.find_button:hover
  background: url('/images/find_btn_hover.png') no-repeat
.find_button:active
  background: url('/images/find_btn_active.png') no-repeat

.change_button 
  width: 73px
  height: 35px
  display: inline
  background: url('/images/change_btn_normal.png') no-repeat
.change_button:hover
  background: url('/images/change_btn_hover.png') no-repeat
.change_button:active
  background: url('/images/change_btn_active.png') no-repeat

