*
  font-family: 'Arial Unicode MS', 'Arial'
  font-size: 16px
  padding: 0px
  margin: 0px

.info_area
  padding: 10px

#clock_bar
  border: 1px solid red
  float: left
  width: 600px
  #clock_header
    border: 1px solid blue
  #clock_content

#info_bar
  border: 1px solid blue
  float: left
  width: 200px
  #event_list li
    font-size: 12px


